@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Nunito+Sans:wght@200&family=Roboto:ital,wght@0,400;1,300&display=swap');

div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

main{
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 3em;
    height: 100vh;
}

