*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}

body{
    background-image: url(../images/bg2.png);
}

/* Estilos títulos */

h1{
    text-align: center;
}

.title-productList{
    text-align: center;
    margin-top: 1em;
}

/* Estilos botones */

.bot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-prod{
    margin: 2em 1.3em 2em 1.3em;
}

.crear{
    width: 100%;
    margin-left: -0.30%;
    margin-top: 1em;
}

/* Inicio estilo barra de navegación */

.flex{
    display: flex;
    justify-content: space-between;
}


/* Inicio estilo del archivo index.html */

.index{
    display: grid;
    grid-template-columns: 40% 58%;
    grid-template-rows: repeat(3, 30%);
    grid-template-areas:
                        "slider title"
                        "slider text"
                        "slider text";
}

.text{
    grid-area: title;
    margin-top: 1em;
}

.txt_nosotros{
    grid-area: text;
    padding: 3em;
}

#carouselExampleSlidesOnly{
    grid-area: slider;
}

/* Mediaquerie slider y texto index */

@media screen and (max-width: 1000px) {
    .index{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 30%);
        grid-template-areas:
                        "title"
                        "text"
                        "slider";

    }

    .flex{
        flex-direction: column;
    }
}


/* Inicio estilo archivo productos.html */

.list-productos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-image{
    height: 20em;
}

.container-image img{
    object-fit: cover;
}

/* Inicio estilo archivo login.html */

.login{
    margin: 9.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Inicio estilo archivo contacto.html y crear_producto.html*/

.contacto, .form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
}

.contacto button{
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.form{
    margin-top: 3em;
    margin-bottom: 5.2em;
}

.form button{
    margin-top: 1em;
    margin-bottom: 0.3em;
}

@media screen and (max-width: 968px){
    .contacto, .form{
        width: 70%;
        margin-left: 17%;
    }
}

