<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a href="{% url 'app:productos' %}">Productos</a>
            <a href="{% url 'app:clientes' %}">Clientes</a>
            <a href="{% url 'app:contacto' %}">Contacto</a>
        </div>
    </nav>
</body>
</html>
