<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lambda3D</title>
</head>
<body>
    <header>        
        <!--Navigation-->
        <nav class="navbar static-top nav">

            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'app:productos' %}">Productos</a></li>
                <li><a href="{% url 'app:clientes' %}">Clientes</a></li>
                <li><a href="{% url 'app:contacto' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>
