{% extends "padre.html" %}
{% block loquecambia %}
<div style="height: 68.9vh; padding: 2em; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h2 style="font-size: 3em">🗑️</h2>
    <h2 style="text-align: center"><b>¿Está seguro de que desea borrar el producto?</b></h2>
    <br>
    <form method="POST">
        {%csrf_token%} 
        {{form}}
        <button style="margin-top: 1em;" type="submit" class="btn btn-success">Borrar</button>
    </form>
</div>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
{% endblock %}

