{% extends "padre.html" %}
{% load static %}
{% block loquecambia %}
<h2 style="font-size: 3em; text-align: center; margin-top: 3em;">🔎</h2>
<h3 style="text-align: center;"><strong>BÚSQUEDA</strong></h3>
<div style="height: 38.1vh; display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: -2em;">
    <form action="/app/producto_buscado/" method="GET" style="margin-left: 10px;">
        <input type="text" name="articulo">
        <input type="submit" value="Buscar" style="padding: 2px; border-radius: 5px; background-color: rgb(33,136,56);color: white;">
    </form>
    <br>
    <button class="btn btn-success" style="margin-left: 10px; margin-top: 1em; width: 16.5em"><a href="{% url 'app:productos' %}" style="padding:10px; text-decoration: none; color: white;">Volver a productos</a></button>
    <br>
    <br>
</div>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
{% endblock %}