{% extends "padre.html" %}
{% block loquecambia %}

<div class="form-contacto">
    <form class="contacto" style="margin-top: 2rem;" method="POST">
        {%csrf_token%}
        Nombre {{form.nombre}}
        <br>
        Email {{form.email}}
        <br>
        Teléfono {{form.telefono}}
        <br>
        Asunto {{form.asunto}}
        <br>
        Mensaje {{form.mensaje}}
        <br>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>

{% endblock %}



