{% extends "padre.html" %}
{% block loquecambia %}
    <form class="form" method="POST" enctype="multipart/form-data">
        {%csrf_token%}       
        Artículo: {{form.articulo}}
        <br>
        Sección: {{form.seccion}}
        <br>
        Descripción: {{form.descripcion}}
        <br>
        Precio: {{form.precio_unitario}}
        <br>
        Foto: {{form.imagen}}
        <br>
        <button type="submit" class="btn btn-success bot-prod crear">Crear</button>
        <button type="submit" class="btn btn-success bot-prod crear"><a href="{% url 'app:productos' %}" style="color: white; text-decoration: none">Volver atrás</a></button>
    </form>
{% endblock %}