{% extends "padre.html" %}
{% load crispy_forms_tags %}
{% block loquecambia %}
<div style="display: flex; justify-content: center; align-items: center; margin-top: 1em; margin-bottom: 1.5em;">

    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
    
    <button class="btn btn-success" type="submit" style="width: 19em;"> Guardar</button>
    <br>
    <button class="btn btn-success" style="width: 19em; margin-top: 1em;"><a href="{% url 'inicio' %}" style= "padding:5px; text-decoration: none; color: white;">Atrás</a></button>
    </form>
</div>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
{% endblock %} 