{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <title>Lambda3D</title>
</head>
<body>
    <div class="footer">
        <footer>
            <h4>Nuestras redes Sociales</h4>
            <ul style="display: inline-flex;margin: 1.5rem;">
                    <li><i class="fa-brands fa-instagram"></i><a href="https://www.instagram.com/lambda3d/"> Instagram</a></li>
                    <li style="padding-left: 0.8rem;"><i class="fa-brands fa-whatsapp"></i> WhatsApp</li>
            </ul>
        </footer>
    </div>
    
</body>
</html>