{% extends "padre.html" %}

{% block loquecambia %}
<div class="form">
    <form class="login" action="" method="POST">
        {% csrf_token %}

        {{form.as_p}}

        <button type="submit" class="btn btn-success">Iniciar sesión</button>
        
        <br>
        <div>
            <a href="{% url 'app:registro' %}" style="text-decoration: none; font-family: 'Hind Siliguri', sans-serif; color: #698901;"> ¿No tienes cuenta? ¡Registrate!</a>
        </div>

    </form>
</div>
{% endblock %}