{% extends "padre.html" %}
{% load static %} 
{% block loquecambia %}

<h3 style="text-align: center; margin-top: 1em"><b>SOBRE NOSOTROS</b></h3>
<section style="display: flex; justify-content: center; align-items: center;">
    <div class="container-fluid" style="max-width: 1000px; margin: 3em 0 3em 0">
        <section class="row uno" style="background-color: rgba(241,241,241,0.6); padding:0.5em; border-radius: 10px; margin-top: 3em;">
            <div class="col-sm-6 col-lg-6 col-xs-12">
                <img width="90%" src="{% static 'images/nosotros.png' %}" style="padding: 1em" alt="Nosotros">
            </div>
            <div class="col-sm-6 col-lg-6 col-xs-12 " >
                <h3 style="text-align: center">¿Quiénes Somos?</h3>
                <p style="text-align: justify">
                    Fundada en 2019, somos un emprendimiento de diseño e impresión 3D profesional orgulloso de ofrecer sus servicios a todo el país.
                    Un gran servicio empieza y termina con profesionales experimentados y dedicados. Por ese motivo seleccionamos cuidadosamente a las personas que forman nuestro equipo.
                    Nuestro objetivo es no sólo satisfacer sus necesidades, sino también superar sus expectativas de lo que un Servicio de impresión 3D confiable debe ser.
                </p>
            </div>
        </section>
           

        <section class="row dos" style="background-color: rgba(241,241,241,0.6); padding:0.5em; border-radius: 10px; margin-top: 3em;">
            <div class="col-sm-6 col-lg-6 col-xs-12">
                <img width="90%" src="{% static 'images/QueHacemos.png' %}" style="padding: 1em" alt="¿Qué Hacemos">
            </div>
        
            <div class="col-sm-6 col-lg-6 col-xs-12">
                <h3 style="text-align: center">¿Qué Hacemos?</h3>
                <p style="text-align: justify">
                    Nos especializamos en diseño de producto, partiendo de una idea o concepto, y tomando en cuenta consideraciones funcionales, morfológicas, ergonómicas y estéticas, 
                    materializamos el producto haciendo partícipe al cliente en todo el proceso de diseño, generando un ida y vuelta de propuestas hasta llegar al resultado esperado.
                    Asimismo generamos el modelado 3d de productos existentes, mediante muestras, bocetos o planos.
                    Entregamos todo el contenido generado, no sólo los archivos de impresión sino también los master digitales. 
                </p>
            </div>
        </section>
        
        <section class="row tres" style="background-color: rgba(241,241,241,0.6); padding:0.5em; border-radius: 10px;
        margin-top: 3em;">
            <div class="col-sm-6 col-lg-6 col-xs-12">
                <img width="90%" src="{% static 'images/prototipado.png' %}" style="padding: 1em" alt="Prototipado">
            </div>
        
            
            <div class="col-sm-6 col-lg-6 col-xs-12">
                <h3 style="text-align: center">Impresión y prototipado 3D</h3>
                <p style="text-align: justify">
                    Con un tamaño máximo de 300 x 300 x 400, imprimimos todo tipo de piezas, ya sea generadas por nosotros o proporcionadas por el cliente.
                    Asesoramos con respecto al material indicado a utilizar de acuerdo a la funcionalidad que tendrá la pieza.
                    Existe gran cantidad de modelos listos para imprimir en la web. Algunos sitios donde buscar material son los siquientes:
                    <br>
                        <a href="https://www.thingiverse.com/" target="_blank" 
                        style="text-decoration: none; color:#668308">🖱️<b>Thingiverse</b></a>
                        <br>
                        <a href="https://cults3d.com/" target="_blank" 
                        style="text-decoration: none; color:#668308">🖱️<b>Cults3d</b></a>
                </p>
            </div>
        </section>        
    </div>
</section>
    
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
        
{% endblock %}

