{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lambda3D</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!--Estilo CSS-->
    <link rel="stylesheet" href='{% static "css/style.css" %}' />
  </head>
  <body>
    <header>
      <!--Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light background">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}"><img style= "width: 80px; border-radius:50%"src="{% static 'images/logo_lambda.png' %}" alt="logo"></a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
          </svg>
          
              </button>
            <div class="collapse navbar-collapse flex" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app:nosotros' %}">Empresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app:productos' %}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app:clientes' %}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app:contacto' %}">Contacto</a>
                    </li>
                </ul>
                <span>
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'app:login' %}">
                        <i class="fa-solid fa-right-to-bracket"></i> Login
                    </a>
                    {% endif %}
                    <!-- Si ya está logueado, lo saluda... -->
                    {% if request.user.is_authenticated %}
                    <p style="font-family: 'Hind Siliguri', sans-serifmargin-right: 1.8rem;">
                      Hola, {{user.username}}! <a href="{% url 'app:logout' %}?next={% url 'inicio' %}"> Logout</a>
                    </p>
                    
                    {% endif %}
                </span>
            </div>
        </div>
      </nav>
    </header>

    <main>
        {% block loquecambia %} 
        {% endblock %}
    </main>

    <footer>
        <h5>Nuestras redes Sociales</h5>
        <ul style="display: inline-flex; margin: 0.6rem">
            <li style="list-style: none">
                <a href="https://www.instagram.com/lambda3d/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li style="padding-left: 0.8rem; list-style: none">
                <i class="fa-brands fa-whatsapp"></i>
            </li>
        </ul>
    </footer>

    <!--Script de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  </body>
</html>
