{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lambda3D</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo_lambda.png' %}">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!--Estilo CSS-->
    <link rel="stylesheet" href='{% static "css/style.css" %}' />
  </head>
  <body>
    <header>
      <!--Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(186, 228, 164)">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}"><img style= "width: 40px; border-radius:50%; border: solid #343a40;" src="{% static 'images/logo_lambda.png' %}" alt="logo"></a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
          </svg>
          
              </button>
            <div class="collapse navbar-collapse flex" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #343a40;" aria-current="page" href="{% url 'inicio' %}"><strong>Inicio</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #343a40;" href="{% url 'app:nosotros' %}"><strong>Empresa</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #343a40;" href="{% url 'app:productos' %}"><strong>Productos</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #343a40;" href="{% url 'app:clientes' %}"><strong>Clientes</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #343a40;" href="{% url 'app:contacto' %}"><strong>Contacto</strong></a>
                    </li>
                </ul>

                <span>
                  {% if not request.user.is_authenticated %}
                  <a href="{% url 'app:login' %}" style="color: #343a40"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                  {% endif %}
                  <!-- Si ya está logueado, lo saluda... -->
                  {% if request.user.is_authenticated %}
                  <div style="font-family: 'Hind Siliguri', sans-serif;
                  margin: 0;
                  color: #343a40;
                  padding-right: 20px;
                  display: flex;
                  justify-content: center;
                  align-items: baseline;">
                    <a class="nav-link" aria-current="page" href="{% url 'app:editar_perfil' %}" style="color: #343a40;">Hola {{user.username}}</a><i class="fa-solid fa-user"></i>  
                    <a href="{% url 'app:logout' %}?next={% url 'inicio' %}" style="color: #343a40; margin-left: 1em;"> Logout</a>
                  </div>
                  
                  {% endif %}
              </span>

            </div>
        </div>
      </nav>
    </header>

    <main>
        {% block loquecambia %} 
        {% endblock %}
    </main>

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1" target="_blank"
            href="https://www.instagram.com/lambda3d/?hl=es"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center text-dark p-3" style="background-color: rgb(186, 228, 164);">
        © 2022 Copyright:
        <a class="text-dark" target="_blank" href="https://www.coderhouse.com/online/python">CODERHOUSE</a>
      </div>
      <!-- Copyright -->
    </footer>
    

    <!--Script de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

    <!--Script Fontawesome-->
    <script src='{% static "fontawesomefree/js/all.min.js" %}'></script>
  </body>
</html>
