{% extends "padre.html" %}

{% block loquecambia %}
    <h2 class="title-productList">LISTADO DE PRODUCTOS</h2>

    <div class="bot">
        <button type="submit" class="btn"><a href="{%url 'app:crear_producto'%}">Crear nuevo producto</a></button>
        <button class="btn"><a href="{%url 'app:buscar_producto'%}">Buscar artículo</a></button>
    </div>
    
    <p style="text-align: left;">
    <div class="list-productos">
        {%for p in productos%}

        <div class="card" style="width: 18rem; margin: 2em">
            <div class="card-body">
                <div class="container-image">
                    <img src="{{p.imagen.url}}" class="card-img-top" alt="{{p.articulo}}">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Artículo: {{p.articulo}} </li>
                    <li class="list-group-item">Sección: {{p.seccion}} </li>
                    <li class="list-group-item">Descripción: {{p.descripcion}}</li>
                    <li class="list-group-item">Precio: ${{p.precio_unitario}}</li>
                </ul>
    
                <div class="card-body">
                    <a href="{%url 'app:modificar_producto' p.id %}" class="card-link">Modificar</a>
                    <a href="{%url 'app:borrar_producto' p.id %}" class="card-link">Eliminar</a>
                </div>
                
            </div>
        </div>
    {%endfor%}
</div>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
{% endblock %}
